# Azure Functions
azure-functions
azure-storage-blob
azure-storage-queue
azure-data-tables
google-genai>=0.8.0

# Google Cloud Vertex AI
google-cloud-aiplatform
google-cloud-core
google-auth
vertexai
protobuf
json-repair
httpx
# Image splitting
Pillow

# HTTP requests
requests